<div id="login">
  <h2>Socius</h2>
  <%= form_tag sessions_path do %>

    <div class="form-inputs">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:username] %>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>

    <button type="submit" name="action" class="button">Login
      <i></i>
    </button>

  <% end %>

  <h5> Don't have an account? <%= link_to 'Sign up now!', new_user_path %> </h5>
</div>