

<%= content_tag :div, class: "map_info", data: {camp_details: @camp_details} do %>
<% end %>


<div id="map-container">
	<h1><%=@camp.name%></h1>
	<p id="camp-address">
		Camp Address: <%= @camp.street_1 %>
		<%if !@camp.street_2.empty?%>
		<%=", #{@camp.street_2}," %>
		<%end%>
		&nbsp
		<%=" #{@camp.city}, #{@camp.state} #{@camp.zip}"%>
	</p>
	<!-- <small>Click or tap the map to select a location.</small> -->
	<div id="map-canvas"></div>
</div>
<div class = "go_back">
	<%= link_to "< All Camps", camps_path %>
</div>

<div class = "camp_details">
	<!-- <h4>Shared Organizations:&nbsp</h4> -->
	<div class = "org_names">
		Shared With:
	<%if @organizations.size != 0%>
	   <%=@camp.all_org_names%>
	<%else%>
	no organization shared 
	<%end%>
    </div>

	<div class = "new_organization">
		    <a class = "new_link">
		    <i class=" material-icons md-12">keyboard_arrow_down</i>
		    <%="Shared With New Organization"%></a> 

		    <div class = "org-form">
		       <% @camp_org = CampOrg.new %>
			<!-- now the form template itself -->
			  <%= simple_form_for @camp_org do |f| %>
			        <%= f.input :camp_id, as: :hidden, input_html: { value: @camp.id } %>
			        <%= f.input :organization_id, collection: @org_choices,  input_html: {class: "input"}, wrapper_html: {class: "wrapper"},include_blank: false %>
			        <%= f.submit "share"%>
			  <% end %>
		    </div>
	</div>
</div>



<div class="general-tabs">
	<div class="general-tabs-nav">
		<table>
		<tr>
				<td><a data-target="requests">Requests</a></td>
				<td><a class="inactive" data-target="check">Check-in</a></td>
		</tr>
		</table>
	</div>
	<div class="general-tabs-content">
		<div id="requests" class="post-index-table">
			<%= render partial: "partials/post_table", locals: { posts: @camp_posts } %>
		</div>
		<div id="check" class="post-index-table inactive">
			<%= render partial: "partials/post_table", locals: { posts: @camp_checkin } %>
		</div>
			
	</div>

</div>




<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs_9i8wDJ_RJrk7ZiG2zi6oNh8X-1akSU&callback=showCampMap" async defer></script>