<!-- Sidebar -->
    <div id="sidebar-wrapper">
                   <%= link_to image_tag('logo-horizontal.png'), home_path, class: 'Socius-logo'%>
        
        <ul id="sidebar-menu" class="sidebar-nav">
           <li class="sidebar-brand">
                <a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span>
                </a>
            </li>
        </ul>

        <ul id="sidebar" class="sidebar-nav">
  
        
				<% if logged_in? %>
					<li>
                      <%=link_to "Welcome, #{current_user.first_name}", user_path(current_user)%>
                    </li>

                    <li>
                        <%= link_to(posts_path) do %>
                            <%=image_tag('nav-sub-icons/all-requests.png', class: "sub-icon")%> Show all Requests
                        <% end %>
                    </li>

                    <li>
                        <%= link_to(new_post_path) do %>
                            <%= image_tag('nav-sub-icons/new-request.png', class: 'sub-icon')%> Add a New Request
                        <% end %>

                    </li>

					<li>
                        <%=link_to(logout_path)  do%>
                            <%= image_tag('nav-sub-icons/logout.png', class: 'sub-icon')%> Log Out
                        <% end %>
                    </li>
				
                <%else%>
					<li><%= link_to "Log In", login_path %> </li>
				 	<li><%=link_to "Sign up", new_user_path%> </li>

				<%end%>
        </ul>
        
    </div>

