<!-- top navbar -->
<div class="nav">
  <%= link_to home_path, class:"logo" do %>
    <%= image_tag 'logo-horizontal-2.png' %>
  <% end %>
  <ul>
    <% if logged_in? %>
      <li>
        <a href>Welcome, <%=current_user.first_name %></a> ▼
        <ul>
          <li><%= link_to "My Profile", user_path(current_user) %></li>
          <% if current_user.organization_id %>
            <li><%= link_to("My Organization", current_user.organization) %></li>
          <% end %>
          <% if current_user.alliance %>
            <li><%= link_to("My Alliance", current_user.alliance) %></li>
          <% end %>
          <li><%= link_to("Log Out", logout_path) %></li>
        </ul>
      </li>
    <% else %>
      <li>
        <%= link_to "Log In", login_path %>
      </li>
      <li>
        <%= link_to "Sign up", new_user_path%>
      </li>
    <% end %>
    <li>
      <%= link_to("Requests", posts_path) %>
    </li>
    <li>
      <%= link_to("New Request", new_post_path) %>
    </li>
    <li>
      <%= link_to("About", about_path) %>
    </li>
  </ul>
</div>