

<div class="posts-table index-table">
	<% unless posts.empty? %>
		<table>
			<thead>
				<tr>
					<td>Posted By</td>
					<td colspan="1">Address</td>
					<td>Post Needs</td>
					<td>Status</td>
					<td>Actions</td>
				</tr>
			</thead>
			<tbody>
				<% posts.each do |p| %>
				    <%unless p.nil?%>
				    <!-- for now do not show the cancelled requests -->
						<% post_needs = p.post_needs %>
						<tr>
							<td>
								<p class="mobile-only table-heading">Posted By</p>
								<%if logged_in? and current_user.role?(:admin)%>
								<%= link_to "#{p.poster.first_name} #{p.poster.last_name}", user_path(p.poster) %></br>
								<%else%>
								<%=p.poster.proper_name%>
								<%end%>
								<small><%= format_time(p.date_posted.to_time) %></small>
							</td>
							<td class = "mobile-only">
								<p class="table-heading">Status</p>
								<%if p.check_in?%>
								    <div class = "blue-text">Check-in Posts</div>
								    <%="Camp Status: #{p.status}"%>
								<% elsif !p.cancelled? and p.claimers.size == 0 %>
											<div class = "red-text">Unclaimed</div>
											
								<%elsif p.completed? %>
										<div class = "green-text">Completed on <%= p.date_completed.to_date %></div>
								<%elsif p.claimers.map(&:id).include?(current_user.id) %>
								        <b>Claimed by you.</b>
								   
								<%elsif !p.needs_all_claimed %>
								    <div class = "yellow-text-inline">(In Progess)</div> Some Needs to be claimed</br>
						
								<%elsif p.needs_all_claimed %>
								    <div class = "yellow-text-inline">(In Progess)</div> All Needs claimed
								<%	elsif p.cancelled? %>
							                <div class = "grey-text">
											Cancelled on <%= p.date_cancelled.to_s %>
										    </div>
								<% end %>
							</td>
							<td colspan="1">
								<p class="mobile-only table-heading">Address</p>
								<%= p.street_1 %><br/>
								<% unless p.street_2.empty? %>
									<%= p.street_2 %><br/>
								<% end %>
								<%= p.city %>, <%= p.state %> <%= p.zip%>
								<a class = "detail_link mobile-only"><i class=" material-icons">keyboard_arrow_down</i>VIEW DETAILS</a>
							</td>
							<td class = "detail_toggle">
								<p class="mobile-only table-heading">Post Needs</p>
								<%if p.check_in?%>
								<%="Checked-in: #{p.status}"%>
								<%else%>
								<ul>
									<% post_needs.each do |pn| %>
										<li>
											<%= pn.need.name %>
								
											<% if pn.complete? %>
												✓
											<%elsif pn.claimed?%>
											<small>(claimed)</small>
											<% end %>
										</li>
									<% end %>
								</ul>
								<%end%>
								
							</td>
							<td class = "detail_toggle">
								<p class="mobile-only table-heading">Status Details</p>
								<% if p.check_in?%>
								<div class = "blue-text"><%="Checked-in by: #{p.poster.proper_name}"%></div>

								<%  elsif !p.cancelled? and p.claimers.size == 0 %>
											<div class = "red-text">Unclaimed</div>
							    
								<%elsif p.completed? %>
										<div class = "green-text">
										Completed by: 
									    <%if p.claimers.size<3%>
									    <%=p.all_claimer_names%>
									    <%else%>
									    <%="#{p.two_claimer_names} and #{p.claimers.size-2} other people"%>
									    <%end%>
										</br>
										</div>
								
								<%elsif p.claimers.size!=0 %>
								    <div class = "yellow-text">
								    Claimed by: 
								    <%if p.claimers.size<3%>
								    <%=p.all_claimer_names%>
								    <%else%>
								    <%="#{p.two_claimer_names} and #{p.claimers.size-2} other people"%>
								    <%end%>
									</br>
								    </div>
								<%	elsif p.cancelled? %>
							                <div class = "grey-text">
											Cancelled on <%= p.date_cancelled.to_s %>
										    </div>
								<% end %>

								<% if !p.cancelled? %>
									<% if p.claimers.map(&:id).include?(current_user.id) and p.can_unclaim?(current_user.id)%>
										<%if p.date_completed.nil?%><%= link_to 'Unclaim Request', unclaim_request_path(id: p.id),data: {confirm: "Are you sure you want to unclaim this request?"}%>
										<%end%>

									<%elsif !p.claimers.map(&:id).include?(current_user.id) and !p.needs_all_claimed%>
										<%= link_to 'Claim Request', claim_request_path(id: p.id) %>
									<% end %>
								<%end%>


							</td>
							<td class = "detail_toggle">
								<p class="mobile-only table-heading">Actions</p>

								<%if p.completed? or !p.claimers.map(&:id).include?(current_user.id)%>

									<div id ="viewpost"><%= link_to "View Post", post_path(p) %></div>

								<%else%>
								<div>

								<%= link_to "Complete Needs", post_path(p) %>
							    </div>

								<%end%>

								<% if logged_in? and current_user.id == p.poster_id and !p.cancelled? and !p.completed? %>
									</br>
									<small><%= link_to 'Cancel Request', cancel_request_path(id: p.id), data: {confirm: "Are you sure you want to cancel this request?"}%>
									
									</small>

								<% end %>
							</td>
						</tr>
					<%end%>
				<% end %>
			</tbody>
		</table>
		<div class ='apple_pagination'>
				<%=will_paginate posts%>
		</div>
	<% else %>
		<p><i>There are no posts to display now.</i></p>
	<% end %>
</div>