<div class="posts-table index-table">
	<% unless post_details.empty? %>
		<table>
			<thead>
				<tr>
					<td>Posted By</td>
					<td colspan="2">Address</td>
					<!-- <td>Needs</td> -->
					<td>Post Needs</td>
					<td>Status</td>
					<td>Actions</td>
				</tr>
			</thead>
			<tbody>
				<% post_details.each do |post| %>
					<% post_needs = Post.find(post['id']).post_needs %>
					<tr>
						<td>
							<p class="mobile-only table-heading">Posted By</p>
							<%= link_to post["poster_name"], user_path(id: post["poster_id"]) %>
							<small><%= format_time(post["created_at"].to_time) %></small>
						</td>
						<td colspan="2">
							<p class="mobile-only table-heading">Address</p>
							<%= post["street_1"] %><br/>
							<% unless post["street_2"].empty? %>
								<%= post["street_2"] %><br/>
							<% end %>
							<%= post["city"] %>, <%= post["state"] %> <%= post["zip"] %>
						</td>
						<td>
							<p class="mobile-only table-heading">Post Needs</p>
							<ul>
								<% post_needs.each do |pn| %>
									<li>
										<%= pn.need.name %>
										<% if pn.complete? %>
											✓
										<% end %>
									</li>
								<% end %>
							</ul>
							<%= link_to "Complete Needs", post_path(post["id"]) %>
						</td>
						<td>
							<p class="mobile-only table-heading">Status</p>
							<%  if post["date_cancelled"].nil? and post["date_claimed"].nil? %>
										Unclaimed
							<% 	elsif post["date_claimed"] %>
										Claimed by <%= post["claimer_name"] %> on <%= post["date_claimed"].to_s %>
							<%	elsif post["date_cancelled"] %>
										Cancelled on <%= post["date_cancelled"].to_s %>
							<% end %>
							<% if post["claimer_id"] %>
								<p class="mobile-only table-heading">Claimer</p>
								<%= link_to post["claimer_name"], user_path(id: post["claimer_id"]) %>
								<% if logged_in? and post["claimer_id"] == current_user.id %>
									<%= link_to 'Unclaim Request', unclaim_request_path(id: post["id"]) %>
								<% end %>
							<% elsif logged_in? and post["date_cancelled"].nil? %>
								<%= link_to 'Claim Request', claim_request_path(id: post["id"]) %>
							<% end %>
						</td>
						<td>
							<p class="mobile-only table-heading">Actions</p>
							<%= link_to "View Post", post_path(post["id"]) %>
							<% if logged_in? and current_user.id == post["poster_id"] and post["date_cancelled"].nil? %>
								<p class="mobile-only table-heading">Actions</p>
								<%= link_to 'Cancel Request', cancel_request_path(id: post["id"]) %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<p><i>There are no posts to display.</i></p>
	<% end %>
</div>