
<%= simple_form_for @user, html: { class: 'form-horizontal', multipart: true } do |f| %>
    
    <%if current_user.role?(:admin)%>
        <%= f.input :username, input_html: {class: "form-control"}, wrapper_html: {class: 'form-group'} %>
        
        <%= f.input :email, input_html: {class: 'form-control'}, wrapper_html: {class: 'form-group'}%>
    <%end%>


    <%= f.input :first_name, input_html: {class: "form-control"}, wrapper_html: {class: 'form-group'} %>

    <%= f.input :last_name, input_html: {class: "form-control"}, wrapper_html: {class: 'form-group'} %>

    <% if logged_in? and current_user.role?(:admin)# admin or current user %>
        <%= f.input :password, input_html: {class: "form-control"}, wrapper_html: {class: 'form-group'} %>

        <%= f.input :password_confirmation, input_html: {class:'form-control'}, wrapper_html: {class: 'form-group'}%>
    <% end %>

    <%= f.input :phone, input_html: {class: "form-control"}, wrapper_html: {class: 'form-group'} %>

    <%= f.input :job_title, input_html: {class: "form-control"}, wrapper_html: {class: 'form-group'} %>

     <%= f.input :email_notification, collection: [["on",true],["off",false]], wrapper_html: {class: 'form-group'}, prompt: true %>
     <div>&nbsp</div>
    

    <% if logged_in? && current_user.role?(:admin) %>
       <%= f.input :organization_id, collection: @organizations, input_html: {class: "form-control"}, wrapper_html: {class: 'form-group'} %>
       <div>&nbsp</div>
        <%= f.input :role, collection: User::ROLES, wrapper_html: {class: 'form-group'}, prompt: true %>
        <div>&nbsp</div>
         <%= f.input :active, collection: [true,false], wrapper_html: {class: 'form-group'}, prompt: true %>
    <% elsif logged_in? # member %>
        <p>Contact the system administrator for editing the other fields.</p>
    <% else # new signup %>
        <%= f.input :active, :as => :hidden, :input_html => {:value => false} %>
        <%= f.input :role, :as => :hidden, :input_html => {:value => :worker} %>
    <%end%>
     
    <button type="submit" class="button">Submit</button>

<% end %>
