
<div id="change_password">
	<div class = "go_back_white">
		<%= link_to "< My Profile", user_path(@user)%>
	</div>
	<div class="form center">
		<h2>Update Password</h2>
		<% unless @message.nil? %>
		  <p> <%= @message %></p>
		<% end %>
		<%= form_tag update_password_path(@user) do %>
		        <%= label_tag 'Old Password' %>
                <%= password_field_tag(:old) %>
                <%= label_tag 'New Password' %>
                <%= password_field_tag(:password) %>
                 <%= label_tag 'Confirm New Password' %>
                <%= password_field_tag(:password_confirmation) %>
                <div><%= submit_tag "Update", {:class => "button"}%></div>
        <% end %>
	</div>
</div>