<div id="profile-header">
	<h2><%= @user.proper_name %></h2>
	<small>Username: <%= @user.username %></small>
	<p>
		<%= @user.job_title%> 
		<% if @organization %>
			at <%= link_to @organization.name, organization_path(@organization) %>
		<% end %>
	</p>

	<small>
		<%= @user.email %> | <%= @user.phone %><br/>
		<% if logged_in? && (current_user.role?(:admin) or current_user.id == @user.id) %>
			<%= link_to "Edit Profile", edit_user_path(@user) , class: "button" %>
		<% end %>
	</small>
</div>

<div id="profile-tabs">
	<div id="profile-tabs-nav">
		<table>
		<tr>
			<td><a data-target="posts">My Posts</a></td>
			<td><a class="inactive" data-target="claims">My Claims</a></td>
			<td><a class="inactive" data-target="org">My Organization</a></td>
			<td><a class="inactive" data-target="alliance">My Alliance</a></td>
		</tr>
		</table>
	</div>
	<div id="profile-tabs-content">
		<div id="profile-posts" class="post-index-table">
			<%= render partial: "partials/post_table", locals: { post_details: @post_details } %>
		</div>
		<div id="profile-claims" class="post-index-table inactive">
			<%= render partial: "partials/post_table", locals: { post_details: @claimed_post_details } %>
		</div>
		<div id="profile-org" class="inactive">
			<%= render partial: "organizations/user_org" %>
		</div>
		<div id="profile-alliance" class="inactive">
			<% unless @alliance.nil? %>
				<%= render partial: "alliances/org_list" %>
			<% else %>
				<i>This user is not in an alliance.</i>
			<% end %>
		</div>
	</div>

</div>