<div id="profile-header">
	<h2><%= @user.proper_name %></h2>
	<small>Username: <%= @user.username %></small>
	<p>
		<%= @user.job_title%> 
		<% if @organization %>
			at <%= link_to @organization.name, organization_path(@organization) %>
		<% end %>
	</p>

	<small>
		<%= @user.email %> | <%= @user.phone %><br/>
		<% if can? :update, @user %>
			<%= link_to "Edit Profile", edit_user_path(@user) , class: "button" %>
		<% end %>
	</small>

	<%if logged_in? and current_user.role?(:admin) and !@user.active%>
	    <%= link_to "APPROVE", approve_user_path(id: @user['id']) , class: "button" %>
	<%end%>
</div>


<div class="general-tabs">
	<div class="general-tabs-nav">
		<table>
		<tr>
			<%if logged_in? and (current_user.role?(:admin) or current_user.id!=@user.id)%>
				<td><a data-target="posts">Posts</a></td>
				<td><a class="inactive" data-target="claims">Claims</a></td>
				<td><a class="inactive" data-target="org">Organization</a></td>
				<td><a class="inactive" data-target="alliance">Alliance</a></td>
			<%else%>
				<td><a data-target="posts">My Posts</a></td>
				<td><a class="inactive" data-target="claims">My Claims</a></td>
				<td><a class="inactive" data-target="org">My Organization</a></td>
				<td><a class="inactive" data-target="alliance">My Alliance</a></td>
			<%end%>
		</tr>
		</table>
	</div>
	<div class="general-tabs-content">
		<div id="posts" class="post-index-table">
			<%= render partial: "partials/post_table", locals: { posts: @posts} %>
		</div>
		<div id="claims" class="post-index-table inactive">
			<%= render partial: "partials/post_table", locals: { posts: @claimed_posts } %>
		</div>
		<div id="org" class="inactive">
			<h3><%=@organization.name%></h3>
			<%= render partial: "organizations/details" %>
		</div>
		<div id="alliance" class="inactive">
				<%= render partial: "alliances/index_details" %>
		</div>
	</div>

</div>