<div id="post-form-container">
    <%= content_tag :div, class: "camp_info", data: {camp_details: @camp_details} do %>
    <% end %>

    <h1>Submit a Post</h1>
    <p id="address-preview"></p>
    <small>Click or tap the map to select a location. </small>
<!--     <input id="pac-input" class="controls" type="text" placeholder="Search Box"> -->
    <div id="map-canvas"></div>

    <% if logged_in? && !current_user.nil?%>
        <%= simple_form_for @post, html: {class:'form-horizontal', multipart: true} do |f| %>

            <%= f.input :poster_id, :as => :hidden, :input_html => {:value => current_user.id} %>

            <%= render 'partials/form_errors', record: @post %>

            <%= f.input :street_1, :as => :hidden, input_html: {class: "form-control", id: "street-1"} %>
        
            <%= f.input :street_2, :as => :hidden, input_html: {class: "form-control", id: "street-2"} %>

            <%= f.input :camp_id, :as => :hidden, input_html: {class: "form-control", id: "camp_id"} %>

            <div>
                <%= f.input :city, :as => :hidden, input_html: {class: "form-control", id: "city" }, wrapper_html: { class: "inline"} %>

                <%= f.input :state, :as => :hidden, input_html: {class: "form-control", id: "state" }, wrapper_html: { class: "inline"} %>

                <%= f.input :zip, :as => :hidden, input_html: {class: "form-control", id: "zip"}, wrapper_html: { class: "inline"} %>
            </div>
            &nbsp

            <%= f.input :camp_status, collection: @status, input_html: {class: "form-control"}, wrapper_html: {class: 'form-group status'} ,include_blank: false %>
            <small><%="Specify the interaction details below in the comment box if needed."%></small>

            &nbsp
            <%= f.input :number_people, label: "Number of People", input_html: {class:"form-control",value: 0},wrapper_html: {class: 'form-group status'}, :required => true %>

            <h2 id = "needs-requested">Needs Requested</h2>
            <p><u>If this a check-in post, please do not check any needs.</u></p>
             <% unless @all_needs.empty? %>
                <div id="needs-list">
                    <%= render :partial => "form_template" %>
                </div>
             <% end %>


            

            <%= f.fields_for :comments do |c| %>
                 <%= c.input :content,:as => :text,  :label => "Comment",input_html: {class: "form-control", id: "comment"} %>
                 <%= c.input :user_id, :as => :hidden, :input_html => {:value => current_user.id} %>
            <%end%>


             
             <% unless @alliances.empty? %>
                 <div id="sharings-list">
                    <div class = "title">* Sharing Option:<div class = "small"> This post will be shared among the checked alliances</div></div>
                    <div class = "needblock">
                        <div class = "need-category">
                            <%= collection_check_boxes :alliances, :ids, @alliances, :id, :name do |al| %>
                                <div>
                                    <%= al.label %>
                                    <%= al.check_box(checked: "") %>
                                </div>
                                <small>
                                    <div class = "dlink"><%= "Click to see members: "%></div>
                                    <div class = "details"><%= al.object.all_org_names%></div>
                                </small>
                            <% end %>
                            <div class = "small ">If no alliances are checked, then the post is private to your organizaiton</div>
                        </div>
                    </div>
                </div>
             <%end%>


            <div id="submit" class="button-wrapper">
                <input type="submit" class="button" value="Submit Post" />
            </div>
        <% end %>

    <% else %>
        <p>Please <%= link_to "login", login_path %> to create a new request!</p>
    <% end %>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs_9i8wDJ_RJrk7ZiG2zi6oNh8X-1akSU&libraries=places,geometry&callback=initPostFormMap" async defer></script>