<div id="post-form-container">
    <h1>Submit a Request</h1>
    <p id="address-preview"></p>
    <small>Not seeing a map? Try refreshing! (CMD + Shift + R)</small>
    <div id="map-canvas"></div>
    <% if logged_in? && !current_user.nil?%>

        <%= simple_form_for @post, html: {class:'form-horizontal', multipart: true} do |f| %>
            <%= f.input :poster_id, :as => :hidden, :input_html => {:value => current_user.id} %>

            <%= f.input :street_1, :as => :hidden, input_html: {class: "form-control", id: "street-1"} %>
        
            <%= f.input :street_2, :as => :hidden, input_html: {class: "form-control", id: "street-2"} %>
            <div>
                <%= f.input :city, :as => :hidden, input_html: {class: "form-control", id: "city" }, wrapper_html: { class: "inline"} %>

                <%= f.input :state, :as => :hidden, input_html: {class: "form-control", id: "state" }, wrapper_html: { class: "inline"} %>

                <%= f.input :zip, :as => :hidden, input_html: {class: "form-control", id: "zip"}, wrapper_html: { class: "inline"} %>
            </div>
            
            <p>If selecting other for any category, please be sure to specify further in the next section.</p>
            <% unless @all_needs.empty? %>
                <div id="needs-list">
                    <%= fields_for(@post_need) do |pn| %>
                        <% @all_needs.each do |category, needs| %>
                            <div class="need-category">
                                <h3><%= category %></h3>
                                <%= collection_check_boxes :needs, :id, needs, :id, :name do |need| %>
                                    <div>
                                        <%= need.label %>
                                        <%= need.check_box %>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            <% end %>

            <%= f.input :number_people, label: "Number of People", input_html: {class:"form-control" }, :required => true %>

            <%= f.input :comment, input_html: {class: "form-control", id: "comment"} %>
            <div id="submit" class="button-wrapper">
                <input type="submit" class="button" value="Submit Request" />
            </div>
        <% end %>


    <% end %>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs_9i8wDJ_RJrk7ZiG2zi6oNh8X-1akSU&callback=initPostFormMap" async defer></script>