<div id="post-form-container">
    <div id="form-nav">
        <h1>Submit a Request</h1>
        <ul>
            <li class="navLink">Address</li>
            <li class="navLink inactive">Select Needs</li>
            <li class="navLink inactive">Additional Information</li>
        </ul>
    </div>


    <div id="post-form">
        <table>

        <% if logged_in? && !current_user.nil?%>

            <%= simple_form_for @post, html: {class:'form-horizontal', multipart: true} do |f| %>

            <tr>
                <td>
                    <%= f.input :poster_id, :as => :hidden, :input_html => {:value => current_user.id} %>

                    <%= f.input :street_1, input_html: {class: "form-control", id: "street-1"} %>
                
                    <%= f.input :street_2, input_html: {class: "form-control", id: "street-2"} %>
                    <div>
                        <%= f.input :city, input_html: {class: "form-control", id: "city" }, wrapper_html: { class: "inline"} %>

                        <%= f.input :state, input_html: {class: "form-control", id: "state" }, wrapper_html: { class: "inline"} %>

                        <%= f.input :zip, input_html: {class: "form-control", id: "zip"}, wrapper_html: { class: "inline"} %>
                    </div>
                    <div class="button-wrapper">
                        <a class="post-form-next-button button">Next >></a>
                    </div>
                </td>
                <td>
                    <% unless @all_needs.empty? %>
                        <%= fields_for(@post_need) do |pn| %>
                            <table id="needs-table">
                            <% @all_needs.each do |category, needs| %>
                                <tr>
                                    <td><p><%= category %></p></td>
                                    <td>
                                        <%= collection_check_boxes :needs, :id, needs, :id, :name do |need| %>
                                            <div>
                                                <%= need.check_box %>
                                                <%= need.label %>
                                            </div>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>
                            </table>
                        <% end %>
                    <% end %>
                    <div class="button-wrapper">
                        <a class="post-form-prev-button button"><< Prev</a>
                        <a class="post-form-next-button button">Next >></a>
                    </div>
                </td>
                <td>
                    <%= f.input :number_people, label: "Number of People", input_html: {class:"form-control"} %>

                    <%= f.input :comment, input_html: {class: "form-control", id: "comment"} %>
                    <div class="button-wrapper">
                        <input type="submit" class="button" value="Submit Request" />
                    </div>
                </td>
            </tr>
        <% end %>
        </table>


        <% end %>
    </div>
</div>