<%= content_tag :div, class: "map_info", data: {post_details: @post_details} do %>
<% end %>

<div id="map-container">
	<h1>Manage Requests</h1>
	<small>Click or tap the map to select a location.</small>
	<div id="legend">
		<div class="key">
			<%= image_tag "http://maps.google.com/mapfiles/ms/icons/green-dot.png" %> = Completed
		</div>
		<div class="key">
			<%= image_tag "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png" %> = Claimed / Inxp Progress
		</div>
		<div class="key">
			<%= image_tag "grey-pin" %> = Cancelled
		</div>
		<div class="key">
			<%= image_tag "http://maps.google.com/mapfiles/ms/icons/red-dot.png" %> = Unclaimed
		</div>
	</div>
	<div id="map-canvas"></div>
</div>


<a class = "filterlink"><i class=" material-icons md-12">keyboard_arrow_down</i>Filter Bar</a>
<div class = "filtertable">
	<div class = "filter_form">
	<%= form_tag(submit_filter_path, method: 'get') do %>
	    <div class = "filter_element">
			<%= label_tag 'posted by' %>
		    <%= select_tag(:posted_by, options_for_select( [["anyone","anyone"],["myself",current_user.id],["posted by my organization","org#{current_user.organization.id}"]], @default_p),{:class => "filter"}) %>
		</div>
		<div class = "filter_element">
			<%= label_tag 'claim status' %>
		    <%= select_tag(:claim_status, options_for_select( [["all","all"],["unclaimed","unclaimed"],["claimed by me",current_user.id]], @default_c),{:class => "filter"}) %>
		</div>
		<div class = "filter_element">
			<%= label_tag 'complete status' %>
		    <%= select_tag(:complete_status, options_for_select( [["all","all"],["incomplete","incomplete"],["complete","completed"],["not cancelled","not cancelled"]],@default_o),{:class => "filter"}) %>
		</div>
		<div class = "filter_submit">
			<%= submit_tag "Filter"%>
		</div>
	<% end %>
	</div>
</div>
<div class = "status_inform">
	    <%if @user.nil?%>
		<!-- manage request page -->
		   <%if current_user.role?(:admin)%>
			<p>* You have access to all the posts. </p>
			<%else %>
			<p><%="* You have access to all the requests shared with #{current_user.organization.name}"%></p>
			<%end%>

		<%else%>
		<!-- user show page -->
			<%if current_user.role?(:admin) and current_user.id == @user.id %>
			<p>You have access to all the posts. </p>
			<%elsif current_user.id == @user.id%>
			<p><%="* You have access to all the requests shared with #{current_user.organization.name}"%></p>
			<%end%>

		<%end%>
</div>

<div class="post-index-table index-table">
	<%= render :partial => "partials/post_table", locals: {posts: @posts} %>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs_9i8wDJ_RJrk7ZiG2zi6oNh8X-1akSU&callback=initIndexMap" async defer></script>