<%= content_tag :div, class: "map_info", data: {post_details: @post_details} do %>
<% end %>

<div id="map-container">
	<h1>Manage Requests</h1>
	<small>Click or tap the map to select a location.</small>
	<div id="legend">
		<div class="key">
			<%= image_tag "http://maps.google.com/mapfiles/ms/icons/green-dot.png" %> = Completed
		</div>
		<div class="key">
			<%= image_tag "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png" %> = Claimed / In Progress
		</div>
		<div class="key">
			<%= image_tag "grey-pin" %> = Cancelled
		</div>
		<div class="key">
			<%= image_tag "http://maps.google.com/mapfiles/ms/icons/red-dot.png" %> = Unclaimed
		</div>
	</div>
	<div id="map-canvas"></div>
</div>

<div class="post-index-table index-table">
	<%= render :partial => "partials/post_table", locals: {post_details: @post_details} %>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs_9i8wDJ_RJrk7ZiG2zi6oNh8X-1akSU&callback=initIndexMap" async defer></script>