<%= content_tag :div, class: "map_info", data: {post_details: @post_details} do %>
<% end %>
<div id="map-container">
	<!-- <small>Click or tap the map to select a location.</small> -->
	<div id="map-canvas"></div>
</div>

<div class = "go_back">
	<%= link_to "< All Posts", posts_path %>
</div>

<div id = "post-heading">
		<div id="post-address">
			<h2><%= @post.street_1 %></h2>
			<div id="post-subaddress">
				<% unless @post.street_2.empty? %>
					<p><%= @post.street_2 %></p>
				<% end %>
				<p><%= "#{@post.city}, #{@post.state} #{@post.zip}" %></p>
			</div>
		</div>

		<%if @post.cancelled?%>
		<h4 class="alert">Note this post has been cancelled.</h4>
		<%end%>
		<%if @post.check_in?%>
		<h4 class="alert">Note this post is a check-in post. No needs are posted</h4>
		<h3 >Camp status: <%=@post.status%>  <small>(by <%=format_time(@post.date_posted.to_time)%>)</small></h3>
		<%end%>
</div>

<div id="post-info-container">
	<% unless @post_needs.empty? %>
	<div id="post-need-list">
			
			    <%if @post.is_claimer?(current_user) and !@post.cancelled?%>

                    <div id = "claim-list">
                    <h3>Claim Needs</h3>
                    <p class = "red">Note that you need to claim needs before you complete them </p>
					<%= form_tag(update_claims_path, method: 'get') do %>
						<%#= @post.post_needs.completed_ids.inspect %>
						<%= hidden_field :post, :id, :value => @post.id %>
						<%#= input_tag :id, :as => :hidden, :input_html => {:value => @post.id} %>
						<%= collection_check_boxes :post_needs, :claim_ids, @post.post_needs, :id, :need_name do |pn| %>
					      <div class="update-post-need-wrapper">
					      	<%if pn.object.complete? or (pn.object.claimed? and pn.object.claim_id !=current_user.id)%>
					      	   ✓
					      	<%else%>
					        <%= pn.check_box%>
					        <%end%>
					        <%= pn.label %>
					      </div>
					      <% if pn.object.claimed? %>
				        	<small>
				        		<i>Claimed by: <%= pn.object.claim.proper_name %>
				        			<%if pn.object.complete?%>, Completed!<%end%>
				        		</i>
				        	</small>
				          <% end %>
					  	<% end %>
				  	<%= submit_tag 'Update Claim' %>
					<% end %>
				    </div>

				    <div id = "complete-list">
					<h3>Complete Requests</h3>
					<%if @post.post_needs.claimed_by(current_user).size == 0%>
						<p>You have not claimed any needs. Please claim needs before complete the requests</p>
					<%else%>
						<%= form_tag(update_needs_path, method: 'get') do %>
							<%#= @post.post_needs.completed_ids.inspect %>
							<%= hidden_field :post, :id, :value => @post.id %>
							<%#= input_tag :id, :as => :hidden, :input_html => {:value => @post.id} %>
							<%= collection_check_boxes :post_needs, :completed_ids, @post.post_needs.claimed_by(current_user), :id, :need_name do |pn| %>
					      <div class="update-post-need-wrapper">
					      	<%= pn.check_box  %>
					        <%= pn.label %>
					      </div>
					      <% if pn.object.complete? %>
				        	<small>
				        		<i>Completed by <%= pn.object.claim.proper_name %></i>
				        	</small>
				           <% end %>
					  	<% end %>
					  	<%= submit_tag 'Update Complete Status' %>
						<% end %>
					<%end%>
				    </div>


				<%else%>
				    <div id = "need-info">
				    <h3>Reported Needs</h3>
					<% @post.post_needs.each do |pn| %>
					      <div class="update-post-need-wrapper">
					        <%= pn.need.name %>
					      </div>
					      <% if pn.complete? %>
				        	<small>
				        		<i>Completed by <%=pn.claim.proper_name%> at: <%= format_time(pn.time_completed.to_time) %></i>
				        	</small>
				          <%elsif pn.claimed?%>
				          <small>
				        		<i>Claimed by: <%=pn.claim.proper_name%></i>
				        	</small>
				          <%end%>
				    <% end %>
				    </div>

				<%end%>
			
			
	</div>
	<% end %>
	<div id="post-data">
		<%unless @post.check_in?%>
		<h5>Current Status</h5>
		<p>
			<%  if !@post.cancelled? and @post.claimers.size == 0 %>
				Unclaimed
				<%= link_to 'Claim Request', claim_request_path(id: @post.id),class: "claim" %>
			<%	elsif @post.cancelled? %>
				Cancelled on <%= @post.date_cancelled.to_s %>
			<%  elsif @post.completed?%>
			    Completed by <%= @post.all_claimer_names %>
			<% 	elsif @post.claimers.size!=0 %>
				Claimed by <%= @post.all_claimer_names %>
			<% end %>
		</p>
		<%end%>
		<h5>Number of People</h5>
		<p><%= @post.number_people %></p>


		<div class = "comment_area">
		<h5>Comment</h5>
		
		<div class = "comment_section">
			<%if @post.comments.size>0%>
			<a class = "hide_link">▾
		    <%="hide/display comments"%></a>
		    <%end%>


			<%@post.comments.each do |comment| %>
			   <div class = "comments">
			   <small>
			   	<b><% if @post.poster_id==current_user.id%>(Poster Comment)<%end%></b>
			   	<%=format_time(comment.time_commented.to_time)%></small>
			   <%="#{comment.poster}: "%>
			   <div class= "content"><%=comment.content%></div>
			   <%if comment.user_id == current_user.id%>
			    <%= link_to 'delete', comment_path(comment), method: 'delete', data: {confirm: "Are you sure you want to delete this request?"}, class:"del"%>
			    <%end%>
			   </div>
		    <%end%>

		   
		    <a class = "comment_link">
		    <i class=" material-icons md-12">keyboard_arrow_down</i>
		    <%="New Comment"%></a> 

		    <div class = "comment_form">
		       <% @comment = Comment.new %>
			<!-- now the form template itself -->
			  <%= simple_form_for @comment do |f| %>
			        <%= f.input :post_id, as: :hidden, input_html: { value: @post.id } %>
			        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
			        <%= f.input :content, :as => :text, :label => "Comment",input_html: {class: "input",:row => 4}, wrapper_html: {class: "wrapper"}%>
			        <%= f.button :submit,"comment" %>
			  <% end %>
		    </div>
	   </div>
	   </div>
	
		<h5>Sharing</h5>
		<p>
			<% if @post.sharings.size==0 %>
				<p>This Post is private to your orgnaizaiton</p>
			<% else %>
				<p><%="This Post is shared with the following alliances: #{@sharings.join(", ")}"%></p>
			<% end %>
		</p>
		<h5>Poster Contact: <%="#{@poster.proper_name}"%></h5>
		<p class = "contact"><%="Organization: #{@poster.organization.name}"%></p>
	    <p class = "contact"><%unless @poster.phone.empty?%><%="Phone: #{@poster.phone}"%><%else%>Phone not available<%end%></p>
	    <p class = "contact"><%="Email: #{@poster.email}"%></p>

	    <%if @post.claimers.size != 0 and !@post.check_in?%>
		    <h5>Claimer Contact:</h5>
		    <%@post.claimers.each do |claimer|%>
		    <p class = "contact"><b><u><%="#{claimer.proper_name}"%></u></b></p>
		    <p class = "contact"><%="Organization: #{claimer.organization.name}"%></p>
		    <p class = "contact"><%unless claimer.phone.empty?%><%="Phone: #{claimer.phone}"%><%else%>Phone not available<%end%></p>
		    <p class = "contact"><%="Email: #{claimer.email}"%></p>
		    <%end%>
	    <%end%>

	     <% if current_user.role?(:admin) or current_user.id == @post.poster_id%>
	     <%if !@post.completed? and !@post.cancelled?%>
	     <%= link_to 'Cancel Request', cancell_request_path(id: @post.id), data: {confirm: "Are you sure you want to cancel this request?"},class:"delete"%>
	     <%end%>
	     <%if @post.can_delete?%>
	    <%= link_to 'Delete Request', post_path(@post), method: 'delete', data: {confirm: "Are you sure you want to delete this request?"}, class:"delete"%>
	    <%else%>
	    <p class = "red">Note this post cannot be deleted because some needs have already been completed</p>
	    <%end%>
	    <%end%>

	</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs_9i8wDJ_RJrk7ZiG2zi6oNh8X-1akSU&callback=initPostMap" async defer></script>