
<div class="index-table">


	<% if @alliance %>
		Alliance: <%= link_to @alliance.name, @alliance %>
	<% end %>
	<%if @organization.users.count == 0%>
	<%="This organization has no users now."%>
	<%else%>
	<table>
		<thead>
			<tr>
				<th>Member</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Title</th>
			</tr>
		</thead>
		<% @organization.users.each do |user| %>
			<tr>
				<td>
					<p class="mobile-only table-heading">Member</p>
					<%= link_to user.proper_name, user_path(user) %>
				</td>
				<td>
					<p class="mobile-only table-heading">Email</p>
					<%= user.email %>
				</td>
				<td>
					<p class="mobile-only table-heading">Phone</p>
					<%if !user.phone.empty?%>
						<%= user.phone %>
					<%else%>
						<%="Not Available"%>
					<%end%>
				</td>
				<td>
					<p class="mobile-only table-heading">Title</p>
					<%= user.job_title.titleize %>
				</td>
			</tr>
		<% end %>
	</table>
	<%end%>


</div>