<div class = "header">
		<h2>Organizations</h2>
</div>

<div class = "new_organization">
		    <a class = "new_link">
		    <i class=" material-icons md-12">keyboard_arrow_down</i>
		    <%="Add New Organization"%></a> 

		    <div class = "org-form">
		       <% @organization = Organization.new %>
			<!-- now the form template itself -->
			  <%= simple_form_for @organization do |f| %>
			        <%= f.input :name,  placeholder: 'New Organization',input_html: {class: "input"}, wrapper_html: {class: 'wrapper'} %>
			        <%= f.button :submit %>
			  <% end %>
		    </div>
</div>

<div id = "org_index">
	<ul>
	<% @organizations.each do |o| %>
		<li>
			<%= link_to o.name, o %>
		</li>
	<% end %>
	<ul>
</div>

