
<div id = 'alliances' class="index-table">

  <%if @alliance.organizations.count == 0%>
	<%="This alliance has no organizations now."%>
  <%else%>
    <table>
		<thead>
			<tr>
				<th>Organization Name</th>
				<th>Members</th>
				<th>Action</th>
			</tr>
		</thead>

		<tbody>
			<%@alliance.organizations.each do |a|%>
		    <tr>
		    	<td><p class="mobile-only table-heading">Organization Name</p>
		    		<%=a.name%></td>
		    	
		    	<td><p class="mobile-only table-heading">Members</p><%=a.users.count%></td>
		    	
		    	<td><%=link_to "DELETE", delete_org_alliances_path(id: @alliance.id,organization_id: a.id),class: "delete" %></td>
		    </tr> 
		    <%end%> 
	     </tbody>
	</table>
   <%end%>

   <div class = "new_organization">
		    <a class = "new_link">
		    <i class=" material-icons md-12">keyboard_arrow_down</i>
		    <%="Add New Organization"%></a> 

		    <div class = "org-form">
		       <% @org_alliance = OrgAlliance.new %>
			<!-- now the form template itself -->
			  <%= simple_form_for @org_alliance do |f| %>
			        <%= f.input :alliance_id, as: :hidden, input_html: { value: @alliance.id } %>
			        <%= f.input :organization_id, collection: @org_choices,  input_html: {class: "input"}, wrapper_html: {class: "wrapper"},include_blank: false %>
			        <%= f.button :submit %>
			  <% end %>
		    </div>
	</div>
</div>

