<div class = "header">
	<h2><%= @alliance.name %></h2>
</div>
<%if current_user.role?(:admin)%>
<div class = "go_back">
	<%= link_to "< All Alliances", alliances_path %>
</div>
<%= render partial: "admin_details"%>
<%else%>
<div class = "go_back">
	<%= link_to "< My Profile", user_path(current_user) %>
</div>
<%= render partial: "details"%>
<%end%>

