<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= favicon_link_tag 'logo-final.png' %>
    <title>Socius</title>
  

    <%= stylesheet_link_tag "application" %>
   
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render :partial=> 'partials/nav' %>
    <%= render :partial=> 'partials/flash' %>
    <main><%= yield %></main>

  </body>
  <%#= yield :scripts %>
  <%= javascript_include_tag "application" %>







</html>


    