<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title>Socius</title>
  

    <%= stylesheet_link_tag "application"%>
   
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render :partial=> 'partials/nav' %>
    <%= render :partial=> 'partials/flash' %>
    <%= yield %>

  </body>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs_9i8wDJ_RJrk7ZiG2zi6oNh8X-1akSU" async defer></script>
  <%= javascript_include_tag "application" %>
  <%#= yield :scripts %>






</html>


    